{{ if not .IsHome }}

{{ partial "header.html" . }}

<div class="container list">
<main>
<h1>{{ .Title }}</h1>

{{ with .Content }}
<section class="article-list">
<div>{{ . }}</div>
</section>
{{ end }}


{{ $pages := .Pages }}
{{ $pages = (.Paginate $pages).Pages }}

{{ range $pages }}
  <section class="article-list post-card{{ if .Draft }} draft{{ end }}">
    <table>
    <tbody>
    <tr>
    <td>
    {{ with .Params.categories }}
    <div class="categories">
    {{ range first (default 1 $.Site.Params.numCategories) . }}
      <a href="{{ relURL (print "categories/" . "/" | urlize) }}"><span>{{ . }}</span></a>
    {{ end }}
    </div>
    {{ end }}
    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <div>
      {{ if .Date }}<span>{{ .Date.Format "2006-01-02" }}</span>{{ end }}
      {{ with .Params.author }}<span>{{ . }}</span>{{ end }}
    </div>
    <div class="summary">
      {{ $summary := .Description }}
      {{ if $summary }}
      {{ $summary = (markdownify $summary) }}
      {{ else }}
      {{ $summary = ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summaryLength) (default " &hellip;" .Site.Params.textTruncated ) | replaceRE "&amp;" "&") }}
      {{ end }}
      {{ $summary | replaceRE "^([A-Za-z])" "&$1 opf;" | replaceRE "^(&[A-Za-z]) (opf;)" "$1$2" | safeHTML }}
      <a href="{{ .RelPermalink }}" class="more" title={{ i18n "readMore" }}>{{ i18n "readMore" }} &rarr;</a>
    </div>
    </td>
    </tr>
    </tbody>
    </table>
  </section>
{{ end }}

{{ template "_internal/pagination.html" . }}

{{ partial "disqus.html" . }}
</main>
</div>

{{ partial "footer.html" . }}

{{ end }}
